* {
    margin: 0 0;
    padding: 0 0;
}
body {
    color: white;
    margin: 0 auto;
    width: 90%;
    height: auto;
    background: url("https://lastfm.freetls.fastly.net/i/u/770x0/61a0076b85584f7d956787ad16ac9a5a.jpg") rgba(0, 0, 221, 0.225) fixed;
    background-size: cover;
}

header h1 {
    background: linear-gradient(90deg,rgb(63, 6, 6) 90%,rgba(255, 0, 0, 0.575));
    font-size: 3.5em;
    color: whitesmoke;
    text-align:center;
    border-radius: 10px;
}
main {
    position: relative;
    top: 20px;
    background-color: black;
   /* background: linear-gradient(90deg,rgb(6, 6, 6),rgba(255, 0, 0)); */
    

}
section {
    width: 90%;
    float:left;
}
nav {
    color:white;
    position: fixed;
    right: 5%;
    z-index: 10;
    float: right;
    width: 100px;
    height: 300px;
    background-color: black;
    border-radius: 5px;
}
nav ul{
    background-color:rgba(0, 0, 0, 0.575);
    text-decoration: none;
    list-style-type: none;
}
nav ul li {
    width: 100%;
    margin: 0 auto 5px;
    text-align: center;
}
article {
    position:relative;
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 4px;
}
.iframe-container {
    position:relative;
    width: 90%;
    padding-bottom: 10%;
    margin: 0 auto;
}
.iframe-container iframe {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    padding-top: 20px;
}

q {
    display:block;
    /* position:absolute; */
    top: 40%;
    right: 70%;
    text-align: center;
    margin: 5px auto;
    font-style: italic;
    color: rgba(198, 198, 198, 0.907);
    text-justify: distribute-all-lines;
}
.clear {clear:both;}
